<style type="text/css" media="screen">
.commentBtns ul {
    margin-left: -170px;
}
</style>
<form id="hook-form">
<li style="margin-top: -3px; float: right;margin-right: 30px;" id="{{ commentId }}">{{ 'plugin.lists.label.addto'|trans }}: {{ form_widget(form.lists, {'attr' : {'style' : 'width: 350px', 'select-id': commentId }}) }} </li>
{{ form_rest(form) }}
</form>

<script type="text/javascript">
$('select#commentButtonForm_lists[select-id="{{ commentId }}"]').select2({
    maximumSelectionSize: 3,
    allowClear: true,
});

$('select#commentButtonForm_lists[select-id="{{ commentId }}"]').on("select2-removed", function(e) {
    callServer('ping', [], function(json) {
       $.ajax({
            type: "POST",
            url: "{{ path('newscoop_commentlists_admin_removecommentfromlist') }}",
            data: {
                "comment": {{ commentId }},
                "list": e.val
            },
            dataType: "json",
            success: function(msg){
                flashMessage('{{ 'plugin.lists.label.successremoved'|trans }}');
            }
        });
    });
});

$('select#commentButtonForm_lists[select-id="{{ commentId }}"]').on("select2-selecting", function(e) {
    callServer('ping', [], function(json) {
       $.ajax({
            type: "POST",
            url: "{{ path('newscoop_commentlists_admin_addcommenttolist') }}",
            data: {
                "comment": {{ commentId }},
                "list": e.val
            },
            dataType: "json",
            success: function(msg){
                flashMessage('{{ 'plugin.lists.label.successadded'|trans }}');
            }
        });
    });
});

$('select#commentButtonForm_lists[select-id="{{ commentId }}"]').on("select2-highlight", function(e) {
    $(this).parents('.commentBtns#{{ commentId }}').show();
});

$('select#commentButtonForm_lists[select-id="{{ commentId }}"]').on("select2-blur", function(e) {
    $(this).parents('.commentBtns#{{ commentId }}').show();
});

</script>