<style type="text/css" media="screen">
.commentBtns ul {
    margin-left: -170px;
}
</style>
<form>
<li style="margin-top: -3px; float: right;margin-right: 80px;" id="{{ commentId }}">{{ 'plugin.lists.label.addto'|trans }}: {{ form_widget(form.lists, {'attr' : {'style' : 'width: 300px'}}) }} </li>
{{ form_rest(form) }}
</form>

<script type="text/javascript">
$('span.select2-chosen').empty();
$('span.select2-chosen').text('{{ 'plugin.lists.label.selectlists'|trans }}');
        var added = [];
        var removed = [];
        $('ul.select2-choices').live('click', function() {
            added = [];
            removed = [];
            if ($(this).parent().parent().attr('id') == '{{ commentId }}') {
                select2.on("change", function(e) {
                    if (e.added) {
                        if ($.inArray(e.added.id, added) == -1) {
                            added.push(e.added.id);
                            $.ajax({
                                type: "POST",
                                url: "{{ path('newscoop_commentlists_admin_addcommenttolist') }}",
                                data: {
                                    "comment": {{ commentId }},
                                    "list": added[added.length-1]
                                },
                                dataType: "json",
                                success: function(msg){
                                   flashMessage('{{ 'plugin.lists.label.successadded'|trans }}');
                                }
                            });
                        }
                    }

                    if (e.removed) {
                        if ($.inArray(e.removed.id, removed) == -1) {
                            removed.push(e.removed.id);
                            $.ajax({
                                type: "POST",
                                url: "{{ path('newscoop_commentlists_admin_removecommentfromlist') }}",
                                data: {
                                    "comment": {{ commentId }},
                                    "list": removed[removed.length-1]
                                },
                                dataType: "json",
                                success: function(msg){
                                   flashMessage('{{ 'plugin.lists.label.successremoved'|trans }}');
                                }
                            });
                        }
                    }
                });
            }
        });
</script>