<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscoopcommentlists/scripts/select2-3.4.1/select2.css') }}" />
<script src="{{ asset('public/bundles/newscoopcommentlists/scripts/select2-3.4.1/select2.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
$(".action-addtolist").select2();
$('.commentBtns').css('visibility', 'visible');
$('.commentBtns').hover(function(e){
        e.stopPropagation();
});

});

</script>
<select id="select-List_{{ commentId }}" class="action-addtolist" style="width: 100px;">
   {% for list in lists %}
        <option class="actionButton action-addtolist" value="{{ list.id }}">{{ list.name }}</option>
   {% endfor %}
</select>