{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'plugin.lists.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'plugin.lists.header'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('admin-style/action_buttons.css') }} "/>
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscoopcommentlists/css/commentlists.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscoopcommentlists/scripts/select2-3.4.1/select2.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script type="text/javascript">
var translations = {'plugin.lists.label.reset': '{{ 'plugin.lists.label.reset'|trans }}',
    'plugin.lists.label.processing': '{{ 'plugin.lists.label.processing'|trans }}',
    'plugin.lists.label.interrupted': '{{ 'plugin.lists.label.interrupted'|trans }}',
    'plugin.lists.label.selectlist': '{{ 'plugin.lists.label.selectlist'|trans }}',
    'plugin.lists.label.filterby': '{{ 'plugin.lists.label.filterby'|trans }}',
    'plugin.lists.label.drag': '{{ 'plugin.lists.label.drag'|trans }}',
    'plugin.lists.label.duplicate': '{{ 'plugin.lists.label.duplicate'|trans }}',
    'plugin.lists.label.couldnotsave': '{{ 'plugin.lists.label.couldnotsave'|trans }}',
    'plugin.lists.label.first': '{{ 'plugin.lists.label.first'|trans }}',
    'plugin.lists.label.last': '{{ 'plugin.lists.label.last'|trans }}',
    'plugin.lists.label.next': '{{ 'plugin.lists.label.next'|trans }}',
    'plugin.lists.label.previous': '{{ 'plugin.lists.label.previous'|trans }}',
    'plugin.lists.label.norecords': '{{ 'plugin.lists.label.norecords'|trans }}',
    'plugin.lists.label.listdeleted': '{{ 'plugin.lists.label.listdeleted'|trans }}',
    'plugin.lists.btn.delete': '{{ 'plugin.lists.btn.delete'|trans }}',
    'plugin.lists.btn.cancel': '{{ 'plugin.lists.btn.cancel'|trans }}',
    'plugin.lists.table.info': '{{ 'plugin.lists.table.info'|trans }}',
    'plugin.lists.table.noentries': '{{ 'plugin.lists.table.noentries'|trans }}',
    'plugin.lists.table.filtering': '{{ 'plugin.lists.table.filtering'|trans }}',
    'plugin.lists.table.menu': '{{ 'plugin.lists.table.menu'|trans }}',
    'plugin.lists.label.search': '{{ 'plugin.lists.label.search'|trans }}',
};
contextListFilters = {};
filters = [];
$(document).ready(function() {   
    filters['{{ id }}'] = contextListFilters;
    $('#delete-all-btn').hide();
});
</script>
<script src="{{ asset('public/bundles/newscoopcommentlists/js/ajax.js') }}"></script>
<script src="{{ asset('public/bundles/newscoopcommentlists/js/lists.js') }}"></script>
<script src="{{ asset('public/bundles/newscoopcommentlists/scripts/select2-3.4.1/select2.js') }}"></script>
{% endblock %}

{% block admin_content %}
<div class="actions">
    <ul class="navigation" style="height: 50px; float: left">
        <li><a class="add" href="#">{{ 'plugin.lists.btn.add'|trans }}</a></li>
    </ul>
    <select id="playlists" style="width:300px">
        <option></option>
        {% for list in lists %}
        <option value="{{ list.id }}">{{ list.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="content">
    <div id="context-box" class="block-shadow">
        <button type="button" class="btn btn-default" id="add-external-btn" onclick="openExternalModal()" name="add-external"><span class="glyphicon glyphicon-plus-sign"></span> {{ 'plugin.lists.btn.addexternal'|trans }}</button>
        <div class="plugin-toolbar">
            <div class="menu-options">
                <div class="save-button-bar" style="display: none">
                <button type="button" id="remove-ctrl" class="btn btn-default">{{ 'plugin.lists.btn.remove'|trans }}</button>
                <button type="button" name="save" class="btn btn-success" onclick="popup_save();" id="context_button_save">{{ 'plugin.lists.btn.save'|trans }}</button>
            </div>
            <label id="playlist-name-label">{{ 'plugin.lists.label.name'|trans }}:</label>
                <span id="list_name">
                    <input name="playlist-name" class="form-control" id="playlist-name">
                    <input id="playlist-id" type="hidden" readonly="readonly">
                </span>
            </div>
        </div>
        <div class="context-content">
            <div class="context-block context-search plugin-context-block">
                <h3>{{ 'plugin.lists.label.available'|trans }}</h3>
                <div id="smartlist-{{ id }}" class="smartlist">
                    <div class="filters">
                        <dl>
                          <dd>

                            <fieldset class="toggle filters closed" style="display:block">
                                <legend><span class="ui-icon ui-icon-triangle-2-n-s"></span>{{ 'plugin.lists.label.filter'|trans }}</legend>
                                <dl style="display: none;">
                                    <div class="table">
                                        <div class="tr">
                                            <div class="td">
                                                <select name="publication" id="publication_filter" class="selectBig form-control input-sm">
                                                    {% if publications %}
                                                    <option value="0">{{ 'plugin.lists.label.allpub'|trans }}</option>
                                                    {% endif %}
                                                    {% for publication in publications %}
                                                    <option value="{{ publication.id }}">{{ publication.name }}</option>
                                                    {% endfor %}
                                                </select> 
                                            </div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">   
                                                <select name="issue" id="issue_filter" class="selectBig form-control input-sm">
                                                    <option></option>
                                                </select> 
                                            </div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">   
                                                <select name="section" id="section_filter" class="selectBig form-control input-sm">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">   
                                                <select name="article" id="article_filter" class="selectBig form-control input-sm">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="extra">
                                            <dl>
                                                <dt><label for="filter_date">{{ 'plugin.lists.label.date'|trans }}</label></dt>
                                                <dd>
                                                    <input id="filter_date" type="text" name="publish_date"
                                                    class="date" /></dd>
                                                </dl>
                                                <dl>
                                                    <dt><label for="filter_author">{{ 'plugin.lists.label.commenter'|trans }}</label></dt>
                                                    <dd>
                                                        <select name="author" class="form-control input-sm" style="display: initial;">
                                                            <option value="0">{{ 'plugin.lists.label.all'|trans }}</option>
                                                            {% for commenter in commenters %}
                                                            <option value="{{ commenter.id }}">{{ commenter.name|raw }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </dd>
                                                </dl>
                                                <dl>
                                                    <dt><label for="filter_language">{{ 'plugin.lists.label.language'|trans }}</label></dt>
                                                    <dd>
                                                        <select id="filter_name" name="language" class="form-control input-sm" style="display: initial;">
                                                            <option value="0">{{ 'plugin.lists.label.all'|trans }}</option>
                                                            {% for language in languages %}
                                                            <option value="{{ language.id }}">{{ language.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </dl>
                                    </fieldset>
                                </dd>
                                <dd>
                                    <input type="checkbox" name="show_filtered" id="show_filtered">
                                    <label for="show_filtered">{{ 'plugin.lists.label.showfiltered'|trans }}</label>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    {% include "NewscoopCommentListsBundle::table.html.twig" with {sDom: sDom, id: id , items: items, colVis: colVis, order: order, doDataSource: path('newscoop_commentlists_admin_dodata') } %}

                </div>
                <div class="context-block context-list plugin-context-block">
                    <h3>{{ 'plugin.lists.label.featured'|trans }}</h3>
                    <div class="context-list-results">
                        <div class="save-button-bar" style="display: block;">
                            <button type="button" class="btn btn-danger" id="delete-all-btn" onclick="deleteContextList()" name="delete-all">{{ 'plugin.lists.btn.deleteall'|trans }}</button>
                        </div>
                        <div style="display: block; float: left">
                            <form id="context-list-form">
                                <ul id="context_list" style="display:block; height: 433px; width: 506px; overflow-y:auto; overflow-x:hidden; padding: 36px 0px 0px 0px;">
                                    <div id="drag-here-to-add-to-list" style="display:block">
                                        {{ 'plugin.lists.label.drag'|trans }}
                                    </div>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-confirm" style="display:none;" title="{{ 'plugin.lists.label.remove'|trans }}">
        <p>{{ 'plugin.lists.label.delete'|trans }}</p>
    </div>
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modalEditLabel">{{ 'plugin.lists.label.quickedit'|trans }}</h4>
          </div>
          <form id="editForm" action="{{ path('newscoop_commentlists_admin_update') }}">
          <div class="modal-body">
                <input type="hidden" name="commentId"/>
                <label>{{ 'plugin.lists.label.externalsubject'|trans }}</label>
                <input name="subject" type="text" class="form-control input-sm"><br>
                <label>{{ 'plugin.lists.label.externalmessage'|trans }}</label>
                <textarea style="min-height:200px;" name="message" class="form-control input-sm"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{ 'plugin.lists.btn.cancel'|trans }}</button>
            <input type="submit" value="{{ 'plugin.lists.btn.submit'|trans }}" class="btn btn-success btn-sm">
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="externalModal" tabindex="-1" role="dialog" aria-labelledby="externalModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="externalModalLabel">{{ 'plugin.lists.label.addexternal'|trans }}</h4>
          </div>
          <form id="externalForm" action="{{ path('newscoop_commentlists_admin_saveexternal') }}" class="form-inline">
          <div class="modal-body">
                {{ form_label(externalForm.commenterName) }}
                {{ form_widget(externalForm.commenterName, {'attr' : {'class' : 'form-control input-sm', 'placeholder': 'Jhon Doe' }}) }}<br><br>
                {{ form_label(externalForm.commenterUrl) }}
                {{ form_widget(externalForm.commenterUrl, {'attr' : {'class' : 'form-control input-sm', 'placeholder': 'https://www.facebook.com/zuck' }}) }}<br><br>
                {{ form_label(externalForm.date) }}
                {{ form_widget(externalForm.date) }}<br>
                {{ form_label(externalForm.source) }}
                {{ form_widget(externalForm.source, {'attr' : {'class' : 'form-control input-sm', 'placeholder': 'Facebook, Twitter...' }}) }}<br><br>
                {{ form_label(externalForm.articles) }}
                {{ form_widget(externalForm.articles, {'attr' : {'style' : 'width: 100%;'}}) }}<br><br>
                {{ form_label(externalForm.subject) }}
                {{ form_widget(externalForm.subject, {'attr' : {'class' : 'form-control input-sm' }}) }}<br><br>
                {{ form_label(externalForm.message) }}
                {{ form_widget(externalForm.message, {'attr' : {'class' : 'form-control input-sm', 'style' : 'min-height:200px;' }}) }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Submit" class="btn btn-success btn-sm">
          </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    $('#externalCommentForm_date_date').addClass('form-control input-sm');
    $('#externalCommentForm_date_time').addClass('form-control input-sm');
    $('#externalCommentForm_articles').select2({
        minimumInputLength: 3,
    });
    $('span.select2-chosen').empty();
    $('span.select2-chosen').text('{{ 'plugin.lists.label.selectarticle'|trans }}');
    $("ul#context_list li").live({
        mouseenter: function(){
            var id = $(this).attr('id');
            $(this).find('.commentBtns#comment_'+id).show();
        },
        mouseleave: function(){
            var id = $(this).attr('id');
            $(this).find('.commentBtns#comment_'+id).hide();
        }
    });

    $(".commentBtns ul li button").live('click', function() {
        $('#modalEdit').modal();
        var subject = $(this).parents('li').find('.context-item-subject');
        var message = $(this).parents('li').find('.context-item-summary');
        var id = $(this).parents('li.item').attr('id');
        $('#modalEdit').find('input[name=commentId]').val(id);
        $('#modalEdit').find('input[name=subject]').val(subject.text());
        $('#modalEdit').find('textarea[name=message]').val(message.text());
    });

    $('form#editForm').live('submit', function () {
        var that = $(this);
        callServer('ping', [], function(json) {
            $.ajax({
                type: 'POST',
                url: that.attr('action'),
                data: that.serialize(),
                success: function (data) {
                    if (data.status) {
                        loadContextList();
                        flashMessage('{{ 'plugin.lists.label.update'|trans }}');
                        $('#modalEdit').modal('hide');
                    } else if (!data.status) {
                        flashMessage('{{ 'plugin.lists.error.update'|trans }}', "error");
                    } else {
                        flashMessage(data.status, "error");
                    }
                },
                error: function (rq, status, error) {
                    if (status == 0 || status == -1) {
                        flashMessage('{{ 'plugin.lists.error.reach|trans '}}', "error");
                    }
                }
            });
        });

        return false;
    });

    $('form#externalForm').live('submit', function () {
        var that = $(this);
        callServer('ping', [], function(json) {
            $.ajax({
                type: 'POST',
                url: that.attr('action'),
                data: that.serialize(),
                success: function (data) {
                    if (data.status) {
                        table.fnDraw();
                        flashMessage('{{ 'plugin.lists.label.update'|trans }}');
                        $('#externalModal').modal('hide');
                    } else {
                        flashMessage('{{ 'plugin.lists.error.update'|trans }}', "error");
                    }
                },
                error: function (rq, status, error) {
                    if (status == 0 || status == -1) {
                        flashMessage('{{ 'plugin.lists.error.reach|trans '}}', "error");
                    }
                }
            });
        });

        return false;
    });

    function openExternalModal() {
        $('#externalModal').modal();
    }

    $(function() {
       $('#table-{{id}} tbody').sortable
       ({
           connectWith: "#context_list",
           receive: function(event, ui)
           {
               $(ui.item).find(".corner-button").css("display","none");
               $(ui.item).find(".view-article").css("display","block");

               var articleId = $(ui.item).attr('id');
               var newItem = $('<tr />');
               newItem.attr('id', articleId);
               newItem.append($('<td />').addClass('name'));
               $(ui.item).find('input[type=hidden]').remove();
               newItem.find('td').append($(ui.item).find('div:eq(0)'));
               $(ui.item).replaceWith(newItem);

               toggleDragZonePlaceHolder();
           },
           items : '> tr'
       })
       .disableSelection();
       $('#context_list').sortable
       ({
           connectWith: "#table-{{id}} tbody",
           receive: function(event, ui)
           {
            $(ui.item).find(".corner-button").css("display","block");
            var articleId = $(ui.item).attr('id').replace('article_', '');
            var newItem = $('<li />').addClass('item').attr('id', articleId);
            newItem.append( $('<input />')
                .attr('type', 'hidden')
                .attr('name', 'article-id[]')
                .val(articleId) );
            newItem.append($(ui.item).find('td > *'));
            $(ui.item).replaceWith(newItem);

            toggleDragZonePlaceHolder();
        },
        items : '> li'
    })
       .disableSelection();
   });
</script>
{% endblock %}