{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'plugin.lists.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'plugin.lists.header'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('admin-style/action_buttons.css') }} "/>
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscoopcommentlists/css/commentlists.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscoopcommentlists/scripts/select2-3.4.1/select2.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script type="text/javascript">
contextListFilters = {};
filters = [];
$(document).ready(function() {   
    filters['{{ id }}'] = contextListFilters;
});
</script>
<script src="{{ asset('public/bundles/newscoopcommentlists/js/ajax.js') }}"></script>
<script src="{{ asset('public/bundles/newscoopcommentlists/js/lists.js') }}"></script>
<script src="{{ asset('public/bundles/newscoopcommentlists/scripts/select2-3.4.1/select2.js') }}"></script>
{% endblock %}

{% block admin_content %}
<div class="actions">
    <ul class="navigation" style="height: 50px; float: left">
        <li><a class="add" href="#">{{ 'plugin.lists.btn.add'|trans }}</a></li>
    </ul>
    <select id="playlists" style="width:300px">
        <option></option>
        {% for list in lists %}
        <option value="{{ list.id }}">{{ list.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="content">
    <div id="context-box" class="block-shadow">
        <div class="toolbar">
            <div class="save-button-bar" style="display: none">
                <input type="button" class="default-button" id="remove-ctrl" value="Remove">
                <input type="submit" name="save" value="Save" class="save-button-small" onclick="popup_save();" id="context_button_save">
            </div>

            <h2>
                <span id="list_name">
                    <label for="playlist-name">{{ 'plugin.lists.label.name'|trans }}:</label>
                    <input name="playlist-name" id="playlist-name">
                    <input id="playlist-id" type="hidden" readonly="readonly">
                </span>
            </h2>
        </div>
        <div class="context-content">
            <div class="context-block context-search">
                <h3>{{ 'plugin.lists.label.available'|trans }}</h3>
                <div id="smartlist-{{ id }}" class="smartlist">
                    <div class="filters">
                        <dl>
                          <dd>

                            <fieldset class="toggle filters closed" style="display:block">
                                <legend><span class="ui-icon ui-icon-triangle-2-n-s"></span>{{ 'plugin.lists.label.filter'|trans }}</legend>
                                <dl style="display: none;">
                                    <div class="table">
                                        <div class="tr">
                                            <div class="td">
                                                <select name="publication" id="publication_filter" class="selectBig">
                                                    {% if publications %}
                                                    <option value="0">{{ 'plugin.lists.label.allpub'|trans }}</option>
                                                    {% endif %}
                                                    {% for publication in publications %}
                                                    <option value="{{ publication.id }}">{{ publication.name }}</option>
                                                    {% endfor %}
                                                </select> 
                                            </div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">   
                                                <select name="issue" id="issue_filter" class="selectBig">
                                                    <option></option>
                                                </select> 
                                            </div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">   
                                                <select name="section" id="section_filter" class="selectBig">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="tr">
                                            <div class="td">   
                                                <select name="article" id="article_filter" class="selectBig">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="extra">
                                            <dl>
                                                <dt><label for="filter_date">{{ 'plugin.lists.label.date'|trans }}</label></dt>
                                                <dd>
                                                    <input id="filter_date" type="text" name="publish_date"
                                                    class="date" /></dd>
                                                </dl>
                                                <dl>
                                                    <dt><label for="filter_author">{{ 'plugin.lists.label.commenter'|trans }}</label></dt>
                                                    <dd>
                                                        <select name="author">
                                                            <option value="0">{{ 'plugin.lists.label.all'|trans }}</option>
                                                            {% for commenter in commenters %}
                                                            <option value="{{ commenter.id }}">{{ commenter.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </dd>
                                                </dl>
                                                <dl>
                                                    <dt><label for="filter_language">{{ 'plugin.lists.label.language'|trans }}</label></dt>
                                                    <dd>
                                                        <select id="filter_name" name="language">
                                                            <option value="0">{{ 'plugin.lists.label.all'|trans }}</option>
                                                            {% for language in languages %}
                                                            <option value="{{ language.id }}">{{ language.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </dl>
                                    </fieldset>
                                </dd>
                                <dd>
                                    <input type="checkbox" name="show_filtered" id="show_filtered">
                                    <label for="show_filtered">{{ 'plugin.lists.label.showfiltered'|trans }}</label>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    {% include "NewscoopCommentListsBundle::table.html.twig" with {sDom: sDom, id: id , items: items, colVis: colVis, order: order, doDataSource: path('newscoop_commentlists_admin_dodata') } %}

                </div>
                <div class="context-block context-list">
                    <h3>{{ 'plugin.lists.label.featured'|trans }}</h3>
                    <div class="context-list-results">
                        <div class="save-button-bar" style="display: block;"><input
                            type="submit" name="delete-all" value="Delete all"
                            class="default-button" onclick="deleteContextList()" id="context_button_delete_all">
                        </div>
                        <div style="display: block; float: left">
                            <form id="context-list-form">
                                <ul id="context_list" style="display:block; height: 433px; width: 506px; overflow-y:auto; overflow-x:hidden; padding: 36px 0px 0px 0px;">
                                    <div id="drag-here-to-add-to-list" style="display:block">
                                        {{ 'plugin.lists.label.drag'|trans }}
                                    </div>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div id="dialog-confirm" style="display:none;" title="Remove list">
        <p>{{ 'plugin.lists.label.delete'|trans }}</p>
    </div>

    <script type="text/javascript">
    $(function() {
     $('#table-{{id}} tbody').sortable
     ({
         connectWith: "#context_list",
         receive: function(event, ui)
         {
             $(ui.item).find(".corner-button").css("display","none");
             $(ui.item).find(".view-article").css("display","block");

             var articleId = $(ui.item).attr('id');
             var newItem = $('<tr />');
             newItem.attr('id', articleId);
             newItem.append($('<td />').addClass('name'));
             $(ui.item).find('input[type=hidden]').remove();
             newItem.find('td').append($(ui.item).find('div:eq(0)'));
             $(ui.item).replaceWith(newItem);

             toggleDragZonePlaceHolder();
         },
         items : '> tr'
     })
     .disableSelection();
     $('#context_list').sortable
     ({
         connectWith: "#table-{{id}} tbody",
         receive: function(event, ui)
         {
            $(ui.item).find(".corner-button").css("display","block");
            var articleId = $(ui.item).attr('id').replace('article_', '');
            var newItem = $('<li />').addClass('item').attr('id', articleId);
            newItem.append( $('<input />')
                .attr('type', 'hidden')
                .attr('name', 'article-id[]')
                .val(articleId) );
            newItem.append($(ui.item).find('td > *'));
            $(ui.item).replaceWith(newItem);

            toggleDragZonePlaceHolder();
        },
        items : '> li'
    })
     .disableSelection();
 });
</script>
{% endblock %}